@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site will be used for any DNS request for the Citrix team. <br> All Global Citrix teams will have acces to request and automate any DNS adds or changes and it will be reivewed by the Global DNS change review group.</p>
