@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    13701  Independence pky<br />
    Fort Worth TX - 76177<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">AIGCItrixEngineering@aig.com</a><br />
</address>